* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-areas:
    "nav nav nav nav"
    "aside section section section"
    "footer footer footer footer";
  gap: 10px 20px;
  background-color: antiquewhite;
}

.navbar {
  grid-area: nav;
  background-color: #f6b4f6;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.asidebar {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 10px;
}

.category-list {
  list-style: none;
}

.category-list li{
  margin-top: 10px;
}

.category-list span{
  color: gray;
}

.productos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  grid-area: section;
  padding-right: 10px;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: azure;
}

.producto img {
  max-width: 80%;
  height: 250px;
  object-fit: cover;
}

.producto h2 {
  font-size: small;
}

.producto button {
  width: 100%;
  background-color: #f6b4f6;
  border: none;
  color: azure;
  padding: 5px 30px;
}

footer {
  grid-area: footer;
  background-color: #f6b4f6;
  text-align: center;
  padding: 10px 20px;
}

h1 {
  color: azure;
  text-shadow: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
